/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (max-width: 850px) {
  #header {
    background-color: #00334d;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0; }
    #header ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    #header li {
      color: white;
      margin: 20px; }
      #header li a {
        text-decoration: none;
        color: white; }
  #footer {
    background-color: #00334d;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer p {
      color: white;
      margin: 15px; }
  #home {
    background: url(/css/laptop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #home h1 {
      color: white;
      font-size: 40px;
      background-color: rgba(0, 34, 51, 0.3);
      margin-bottom: 10px;
      padding: 10px; }
    #home h2 {
      color: white;
      font-size: 30px;
      background-color: rgba(0, 34, 51, 0.3);
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
      width: 70%; }
    #home #social {
      display: flex;
      justify-content: space-around;
      width: 350px; }
      #home #social .button {
        background-color: white;
        border: 1px solid white;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        align-items: center; }
        #home #social .button a {
          font-size: 30px;
          color: #002233;
          text-decoration: none; }
        #home #social .button a:hover {
          color: #0088cc; }
        #home #social .button img {
          height: 25px;
          margin-right: 5px; } }

@media screen and (max-width: 850px) {
  #languages {
    height: 2500px;
    width: 100%;
    text-align: center; }
    #languages h1 {
      padding-top: 60px;
      padding-bottom: 20px;
      font-size: 40px; }
    #languages h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #00334d;
      text-decoration: underline; }
    #languages img {
      height: 75px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
    #languages #front-end {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
      #languages #front-end #angular {
        height: 90px;
        margin-bottom: 0px; }
      #languages #front-end #js {
        height: 80px; }
    #languages #server-side {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
    #languages #database {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin-left: 15%; }
    #languages #dev-tools {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-left: 10%; } }

@media screen and (max-width: 850px) {
  #portfolio {
    background-color: #ecf4f9;
    height: 2850px;
    width: 100%;
    text-align: center; }
    #portfolio h1 {
      padding-top: 60px;
      padding-bottom: 20px;
      font-size: 40px; }
    #portfolio #portfolio-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      #portfolio #portfolio-items article {
        width: 350px;
        height: 400px;
        margin: 20px; }
        #portfolio #portfolio-items article h4 {
          font-size: 20px;
          color: #002233;
          font-weight: bold;
          margin-bottom: 10px; }
        #portfolio #portfolio-items article p {
          font-style: italic;
          height: 50px; }
        #portfolio #portfolio-items article img {
          width: 340px;
          height: 290px;
          margin-top: 10px;
          border: 1px;
          border-radius: 8px; } }

@media screen and (min-width: 850px) {
  #header {
    background-color: #00334d;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0; }
    #header ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    #header li {
      color: white;
      margin: 20px; }
      #header li a {
        text-decoration: none;
        color: white; }
  #footer {
    background-color: #00334d;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer p {
      color: white;
      margin: 15px; }
  #home {
    background: url(laptop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 945px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #home h1 {
      color: white;
      font-size: 50px;
      background-color: rgba(0, 34, 51, 0.3);
      margin-bottom: 10px;
      padding: 10px; }
    #home h2 {
      color: white;
      font-size: 40px;
      background-color: rgba(0, 34, 51, 0.3);
      padding: 10px;
      margin-bottom: 20px; }
    #home #social {
      display: flex;
      justify-content: space-around;
      width: 350px; }
      #home #social .button {
        background-color: white;
        border: 1px solid white;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        align-items: center; }
        #home #social .button a {
          font-size: 30px;
          color: #002233;
          text-decoration: none; }
        #home #social .button a:hover {
          color: #0088cc; }
        #home #social .button img {
          height: 25px;
          margin-right: 5px; } }

@media screen and (min-width: 850px) and (max-width: 1500px) {
  #languages {
    height: 1200px;
    width: 100%;
    text-align: center; }
    #languages h1 {
      padding-top: 60px;
      padding-bottom: 20px;
      font-size: 40px; }
    #languages h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #00334d;
      text-decoration: underline; }
    #languages img {
      height: 75px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
    #languages #front-end {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
      #languages #front-end #angular {
        height: 90px;
        margin-bottom: 0px; }
      #languages #front-end #js {
        height: 80px; }
    #languages #server-side {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
    #languages #database {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin-left: 15%; }
    #languages #dev-tools {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-left: 10%; } }

@media screen and (min-width: 850px) and (max-width: 1200px) {
  #portfolio {
    background-color: #ecf4f9;
    height: 1500px;
    width: 100%;
    text-align: center; }
    #portfolio h1 {
      padding-top: 60px;
      padding-bottom: 20px;
      font-size: 40px; }
    #portfolio #portfolio-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      #portfolio #portfolio-items article {
        width: 350px;
        height: 400px;
        margin: 20px; }
        #portfolio #portfolio-items article h4 {
          font-size: 20px;
          color: #002233;
          font-weight: bold;
          margin-bottom: 10px; }
        #portfolio #portfolio-items article p {
          font-style: italic;
          height: 50px; }
        #portfolio #portfolio-items article img {
          width: 340px;
          height: 290px;
          margin-top: 10px;
          border: 1px;
          border-radius: 8px; } }

@media screen and (min-width: 1500px) {
  #languages {
    height: 1000px;
    width: 100%;
    text-align: center; }
    #languages h1 {
      padding-top: 60px;
      padding-bottom: 15px;
      font-size: 40px; }
    #languages h2 {
      padding-top: 40px;
      padding-bottom: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #00334d;
      text-decoration: underline; }
    #languages img {
      height: 75px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
    #languages #front-end {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
      #languages #front-end #angular {
        height: 90px;
        margin-bottom: 0px; }
      #languages #front-end #js {
        height: 80px; }
    #languages #server-side {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%; }
    #languages #database {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin-left: 15%; }
    #languages #dev-tools {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-left: 10%; } }

@media screen and (min-width: 1200px) {
  #portfolio {
    background-color: #ecf4f9;
    height: 1200px;
    width: 100%;
    text-align: center; }
    #portfolio h1 {
      padding-top: 60px;
      padding-bottom: 20px;
      font-size: 40px; }
    #portfolio #portfolio-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      #portfolio #portfolio-items article {
        width: 350px;
        height: 400px;
        margin: 20px; }
        #portfolio #portfolio-items article h4 {
          font-size: 20px;
          color: #002233;
          font-weight: bold;
          margin-bottom: 10px; }
        #portfolio #portfolio-items article p {
          font-style: italic;
          height: 50px; }
        #portfolio #portfolio-items article img {
          width: 340px;
          height: 290px;
          margin-top: 10px;
          border: 1px;
          border-radius: 8px; } }

html {
  font-family: 'Raleway', sans-serif; }
